@model IEnumerable<AppUser>

<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8" />
		<title>Авторизация</title>
	</head>
	<body>
	@if (!Model.Any())
	{
		<p1>Нет зарегестрированных пользователей</p1>
	}
	else
	{
		<table>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Age</th>
			</tr>
			@foreach (AppUser user in Model)
			{
				<tr>
					<td>@user.Id</td><td>@user.UserName</td><td>@user.Age</td>
					<td>
						<form asp-action="Delete" asp-route-id="@user.Id" method="post">
							<a asp-action="Edit" asp-route-id="@user.Id">Edit</a>
							<button type="submit">Delete</button>
						</form>
					</td>
				</tr>
				
			}
		</table>
	}
</body>
</html>